/* styles.css */

.container {
  max-width: 400px;
  margin: 0 auto;
}

input[type="text"] {
  flex-grow: 1;
  border-width: 1px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
}

button {
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.line-through {
  text-decoration: line-through;
}
