/* styles.css */

.container {
  max-width: 600px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}
